
<div class="panel panel-default">
  <div class="panel-heading">
    <%= @section.name %>
  </div>
  <ul>
    <% @section.lessons.each do |lesson| %>
      <li class="panel-body"><%= link_to lesson.title, lesson_path(lesson) %></li>
    <% end %>
  </ul>
</div>
<% if current_user %>
  <%= link_to 'Add Lesson', new_lesson_path  %> |
  <%= link_to 'Delete Section', section_path(@section), :data => {confirm: 'Are you sure?', method: 'delete'} if current_user %> |
<% end %>
<%= link_to 'Home', chapter_path(@section.chapter) %>
